/*======================
    CSS For Index Page
  ======================*/
.aboutme {
    display:flex;
    flex-direction: column;
}
.aboutme-content {
    display: flex;
    flex-direction: row;
    max-width: 800rem;
    margin-right: 1rem;
}
.aboutme figure {
    order: -1;
}
.aboutme figure figcaption {
    text-align: center;
}
#small_portrait {
    width: 20dvw;
}
.aboutme-text {
    display: flex;
    flex-direction: column;
}
.flex-bottom {
    margin-top: auto; 
}

picture img {
    max-width: 500px;
    width: 25dvw;
}
