/*
main.css to be primary style sheet for the project
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #eef1cb;
    font-size: 18;
}

/* Setting the base stuff */
* { 
    font-family: 'Montserrat', Helvetica, sans-serif;
    color:black; 
    background-color: var(--background-color, white);
}

header {
    display: flex;
    flex-direction:column;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

header img {
    height: 5rem;
    width: auto;
}

header nav {
    display:flex;
}

a {
    /*fixing back the link coloring*/
    color: blue;
}

footer {
    color:#2c2c2c;
    font-size: 0.8rem;
}

footer span {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

/*
Color animation from this source then adjusted to work for text colors
https://www.tjvantoll.com/2012/02/20/css3-color-animations/
*/
@-webkit-keyframes color_change {
    0% { color: blue; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: red; }
}
@-moz-keyframes color_change {
    0% { color: blue; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: red; }
}
@-ms-keyframes color_change {
    0% { color: blue; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: red; }
}
@-o-keyframes color_change {
    0% { color: blue; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: red; }
}
@keyframes color_change {
    0% { color: blue; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: red; }
}