/*
main.css to be primary style sheet for the project
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #eef1cb;
    --font-sz: 18;
    --font-sz-1: 1;
    --font-sz-2: 1.2;
    --font-sz-3: 1.5;
    --font-sz-4: 2;
}

/* Setting the base stuff */
* { 
    font-family: 'Montserrat', Helvetica, sans-serif;
    color:black; 
    background-color: var(--background-color, white);
}

a {
    /*fixing back the link coloring*/
    color: blue;
}