/*
main.css to be primary style sheet for the project
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #eef1cb;
    font-size: 18;
    --font-sz-1: 1;
    --font-sz-2: 1.2;
    --font-sz-3: 1.5;
    --font-sz-4: 2;
}

/* Setting the base stuff */
* { 
    font-family: 'Montserrat', Helvetica, sans-serif;
    color:black; 
    background-color: var(--background-color, white);
}

header h1 {
    font-size: var(--font-sz-4, 2)*1rem;
}

header img {
    height:var(--font-sz-4, 2)*1rem;
    width: auto;
}

a {
    /*fixing back the link coloring*/
    color: blue;
}

footer {
    color:#2c2c2c;
    font-size: 0.5rem;
}

footer span {
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}